@media (max-width:1000px) {
    .header h1{
        font-size:120% !important;
    }
    .splash-cont h1{
        font-size: 120% !important;
    }
    .nav-dot-container span{
        height: 5px !important;
        width: 5px !important;
    }
    .services-cont .row{
        flex-direction: column !important;
    }
    .experience-cont .row{
        flex-direction: column !important;
    }
    .experience-cont .card-inner {
        height: 15rem !important;
    }
    .experience-cont{
        height: 100% !important;
    }
    .services-cont{
        height: 100% !important;
    }
    .team-cont{
        height: 100% !important;
    }
    .team-cont .row{
        flex-direction: column !important;
    }
    .promise-cont{
        flex-direction: column !important;
        height: 100vh !important;
    }
    .splash-cont{
        height: 100vh !important;
    }
    .contact-cont{
        height: 100vh !important;
    }
    #desktop{
        display: none;
    }
    #mobile{
        display: block !important;
    }
    .splash-cont .box{
        gap: 3rem;
        font-size: 120% !important;
        left: 0 !important;
        padding-left: 2rem;
        padding-right: 1rem;
    }

    .services-cont .box{
        gap: 3rem !important;
        position: relative;
        padding-top: 5rem;
        padding-bottom: 10rem;
    }
    .services-cont .inner{
        flex-direction: column;
    }
    .experience-cont .box{
        padding-top: 5rem;
    }
    .experience-cont .header h3{
        padding-left: 0 !important;
        font-size: 40% !important;
    }
    .experience-cont .header h1{
        font-size: 100% !important;
    }
    .experience-cont .header{
        flex-direction: column;
        text-align: left;
    }
    .team-cont .box{
        padding-top: 5rem;
    }
    .team-cont .footer h1{
        font-size: 100% !important;
    }
    .team-cont .footer {
        position: relative !important;
        padding-top: 3rem;
    }
    .promise-cont .box{
        padding-top: 5rem;
    }
    .promise-cont .box .text{
        width: 70%;
    }
    .promise-cont p{
        font-size: 100% !important;
    }
    .contact-cont .box{
        width: 70%;
        display: flex;
    }
    .contact-cont .inner{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header{
        font-size: 200% !important;
        position: relative !important;
        left: 0% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menumobile{
        display: block !important;
    }
    .menudesk{
        display: none;
    }
    .menumobilee{
        display: block !important;
    }
    section .main-cont .center-cont h1{
        font-size: 120%;
    }
    section .main-cont .center-cont img{
        transform: scale(0.9);
    }
    section .main-cont .left-cont{
        width: 80vw;
        height: 80vh;
    }
    section .main-cont .left-cont .card{
        width: 90% !important;
    }
    .footer{
        display: none !important;
    }
    section .main-cont .left-cont .inner-cont{
        height: 100%;
        display: flex;
        width: 100%;
        padding-top: 0 !important;
    }
    section .main-cont .left-cont .box{
        width: 100%;
        padding-left: 0 !important;
        align-items: center;
    }

}